[Match]
Name=eth0

[Network]
{% if fedora_static_ip | length > 0 %}
Address={{ fedora_static_ip }}/{{ fedora_static_prefix }}
{% if fedora_static_gateway | length > 0 %}
Gateway={{ fedora_static_gateway }}
{% endif %}
DNS=8.8.8.8
DNS=1.1.1.1
{% else %}
DHCP=yes
{% endif %}
