[Unit]
Description=Todo database container
After=network-online.target vmtoolsd.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/todo-db-start
ExecStop=/usr/bin/podman stop todo-db
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
