[Unit]
Description=Refresh open-vm-tools after network for VMware guest IP reporting
After=vmtoolsd.service systemd-networkd.service
Wants=vmtoolsd.service systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vmtools-refresh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
